@page
@using Microsoft.Extensions.Localization
@using PBL6.Hreo.Localization
@model PBL6.Hreo.Web.Pages.Hreo.IndexModel
@inject IStringLocalizer<HreoResource> L
@{
}
<h1>Hreo</h1>
<p>@L["SamplePageMessage"]</p>
